/* Estilos específicos para este módulo do curso Saúde da Criança. */

@import "../sc-common/common.scss";

/* --- BOOTSTRAP CUSTOMIZATION --- */

.accordion-item {
  margin: 1rem 0;
  border: none;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.accordion-button {
  color: $color-neutral-black;
  border-radius: 1rem !important;
  background-color: $color-blue-bell-400;
  font-weight: bolder;

  &:not(.collapsed) {
    color: inherit;
    background-color: $color-blue-bell-500;
  }

  &:focus {
    box-shadow: none;
  }
}
.accordion-body {
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: $color-blue-bell-200;
}

#nurturingCareFrameworkAccordion {
  .accordion-item {
    margin: 0;

    &:nth-child(even) {
      .accordion-button {
        background-color: $color-shadow-green-400;
      }
    }
  }

  .accordion-button {
    background-color: $color-shadow-green-500;
  }

  .accordion-body {
    margin-top: 0;
    background-color: $color-shadow-green-100;
  }
}

/* --- FIGURES --- */

figure.figure-title {
  height: 200px;
  svg {
    position: absolute;
  }

  &#fig-title-3 {
    height: 264px;
  }
}

#cuidado-criacao {
  padding: 1rem;
  border-radius: 10px;
  background-color: $color-shadow-green-100;

  > p {
    margin: 0;
  }
}

/* --- UNS --- */

main#un1 {
  .callout {
    &[type="warning"] {
      background-color: $color-shadow-green-200;
    }
  }
}

main#un2 {
  .callout {
    &[type="warning"] {
      background-color: $color-light-orchid-200;
    }
  }
}

main#un3 {
  .callout {
    &[type="warning"] {
      background-color: $color-tonys-pink-200;
    }
  }
}

main#un4 {
  .callout {
    &[type="warning"] {
      background-color: $color-new-orleans-200;
    }
  }
}

.hero {
}
