/* Estilos específicos para este módulo do curso Saúde da Criança. */

@import "sc-common/common.scss";

.custom-blue-btn {
  width: 100%;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: $color-blue-bell-50;
  background-color: $color-blue-bell-600;
  transition: all ease 0.1s;
  cursor: pointer;

  &:hover {
    background-color: $color-blue-bell-900;
  }
}

/* --- BOOTSTRAP CUSTOMIZATION --- */

.accordion-item {
  margin: 1rem 0;
  border: none;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.accordion-button {
  color: $color-neutral-black;
  border-radius: 1rem !important;
  background-color: $color-blue-bell-400;
  font-weight: bolder;

  &:not(.collapsed) {
    color: inherit;
    background-color: $color-blue-bell-500;
  }

  &:focus {
    box-shadow: none;
  }
}
.accordion-body {
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: $color-blue-bell-200;
}

#nurturingCareFrameworkAccordion {
  .accordion-item {
    margin: 0;

    &:nth-child(even) {
      .accordion-button {
        background-color: $color-shadow-green-400;
      }
    }
  }

  .accordion-button {
    background-color: $color-shadow-green-500;
  }

  .accordion-body {
    margin-top: 0;
    background-color: $color-shadow-green-100;
  }
}

.custom-popover-1 {
  @include popover-style(
    $max-width: 448px,
    $header-bg: #e3d6ee,
    $header-font-size: 1.125rem,
    $body-bg: #e3d6ee,
    $body-font-size: 1rem,
    $font-color: $color-blue-bell-900
  );

  font-weight: 500;
}

.custom-popover-2 {
  @include popover-style(
    $max-width: 364px,
    $header-bg: $color-neutral-lighter,
    $header-font-size: 1rem,
    $body-bg: $color-neutral-lighter,
    $body-font-size: 1rem,
    $font-color: $color-blue-bell-900
  );
}

/* --- FIGURES --- */

button.section-title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem auto;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  > img {
    width: 100%;
  }
}

#cuidado-criacao {
  padding: 1rem;
  border-radius: 10px;
  background-color: $color-shadow-green-100;

  > p {
    margin: 0;
  }
}

/* --- UNS --- */

#un1 {
  @include list-style($list-bullet-nav-1, $list-bullet-content-1);

  .hero {
    .title {
      background-color: $color-shadow-green-200;
    }
  }

  .callout {
    &[type="warning"] {
      background-color: $color-shadow-green-200;
    }
  }
}

#un2 {
  @include list-style($list-bullet-nav-2, $list-bullet-content-2);

  .hero {
    .title {
      background-color: $color-light-orchid-200;
    }
  }

  .callout {
    &[type="warning"] {
      background-color: $color-light-orchid-200;
    }
  }

  #dmTabs {
    border-color: $color-light-orchid-500;

    > li {
      > button {
        background-color: $color-light-orchid-100;

        &.active {
          border-top-color: $color-light-orchid-500;
          border-left-color: $color-light-orchid-500;
          border-right-color: $color-light-orchid-500;
          background-color: $color-light-orchid-200;
        }
      }
    }
  }

  #triagem-auditiva-neonatal {
    margin: 3rem auto 4rem auto;
    max-width: 946px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: $color-light-orchid-100;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;

    p:first-of-type {
      font-weight: 700;
    }

    img {
      position: absolute;
      top: -60px;
      left: -100px;
    }
  }

  #atividades-estimulacao {
    margin-left: auto;
    margin-right: auto;
    max-width: 752px;
    padding: 1rem 2rem;
    color: $color-blue-bell-950;
    text-align: center;
    font-weight: 700;
    border-radius: 1rem;
    background-color: $color-blue-bell-400;
  }

  #atencao-caderneta-crianca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;

    max-width: 506px;
    border-radius: 0.75rem;
    background-color: $color-light-orchid-200;
    color: $color-neutral-daker;
    text-align: center;
    font-weight: 600;

    > :first-child {
      font-size: 1.25rem;
      font-weight: 700;
      color: $color-light-orchid-700;
    }
  }

  #dsm1n5a3 {
    height: 100%;
    width: 100%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    button {
      @extend .custom-blue-btn;
    }
  }

  #dm6a10 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    button {
      @extend .custom-blue-btn;
    }
  }

  #marcos-desenvolvimento-3-a-5 {
    position: relative;

    > button {
      @extend .custom-blue-btn;
      max-width: 300px;
      max-height: 100px;
      position: absolute;
      top: 50%;
    }
  }
}

#un3 {
  .hero {
    .title {
      /* background-color: ; */
    }
  }

  .callout {
    &[type="warning"] {
      background-color: $color-tonys-pink-200;
    }
  }
}

#un4 {
  .hero {
    .title {
      /* background-color: ; */
    }
  }

  .callout {
    &[type="warning"] {
      background-color: $color-new-orleans-200;
    }
  }
}
